<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="apiTesting">
    <test name="apiTest">
        <parameter name="api" value="6f358395a40ffad67a0bb1f631b305f7"></parameter>
        <classes>
            <class name="task8.tests.CoincideWithCityTest"/>
            <class name="task8.tests.CurrentGomelWeather"/>
            <class name="task8.tests.ForecastHumidityTest"/>
            <class name="task8.tests.APITestWithoutApiKey"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
<suite name="mail ru test">
    <test name="mail.ru test">
        <classes>
            <class name="task6.tests.mailTests.TestWriteCorrectLetter">
            </class>

            <class name="task6.tests.cloudsTest.CloudLogin"></class>
            <class name="task6.tests.cloudsTest.CreateFolderTest"></class>
            <class name="task6.tests.cloudsTest.RemoveFolderTest"></class>
            <class name="task6.tests.cloudsTest.ShareLinkTest"></class>
            <class name="task6.tests.cloudsTest.UploadFileTest"></class>
            <class name="task6.tests.mailTests.TestIncorrectPassword"></class>
            <class name="task6.tests.mailTests.TestIncorrectLogin"></class>
            <class name="task6.tests.mailTests.TestNegativeSendLetter"></class>
            <class name="task6.tests.mailTests.TestPositiveLogin"></class>
            <class name="task6.tests.mailTests.TestDeleteLetter"></class>
            <class name="task6.tests.mailTests.TestRequiredWriteLetterField"></class>
        </classes>
    </test>
</suite>